
.rojo {
    color: gray;
}

.titulo {
    font-weight: bolder;
    color: blue;
    background-color: red;
    font-size: 10px;
    animation-name: colores;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    /*-webkit-transition: font-size 2s;*/
    /*transition: font-size 2s;*/
}
/*.titulo:hover {*/
    /*color: greenyellow;*/
    /*font-size: 60px;*/
    /*cursor: pointer;*/
/*}*/



@keyframes colores {
    0%   {
        background-color: red;
        font-size: 10px;
    }
    40%  {
        background-color: yellow;
        font-size: 14px;
    }
    60%  {
        background-color: blue;
        font-size: 34px;
    }
    100% {
        background-color: red;
        font-size: 10px;
    }
}





.azul{
    color:blue;
}
.verde{
    color:green;
}
.amarillo{
    color:yellow;
}
.rojo{
    color:red;
}
.cafe{
    color:brown;
}






